* {
    box-sizing: border-box;
  }
  
  body{
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  .container{
    /* width: 100%; */
    margin-top: 100px;
  }
  #myInput {                   
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 999px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    position: absolute;
    width: 535px;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; 
    background-color: #ffffff;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(45, 45, 45);
    display: block;
    border-radius: 10px;
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }